main{
  min-height: 80vh;
}

.home-page{
  background-color: rgb(230, 244, 245);
}

.employee-image{
  height: 500px;
  background-size: contain;
  position: relative;
  left:20%;
  right:5%;
  background-position: center;
}

.title{
  height:30%;
  text-align: center;
  z-index: 3;
  background-size:100% 40%;
 
}